<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!--For responsive		-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	
	
<title>Colombo Pet care center </title>

<!--Owl Carousel	-->	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"  />
	
<!-- Latest compiled and minified CSS -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--Custom Style CSS	-->
<link rel="stylesheet" href="static/css/petcare/style_.css" type="text/css">

</head>

<body>
	
	
	
<!--Start Header	-->
<header>
	   <div class="container">
	     <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
	    <img src="static/images/petcare/images_1/logo.png" alt="">
	  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

       


        <li class="nav-item">
          <a class="nav-link" href="#about-section">About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " href="#services-section">Advantages</a>
        </li>

		  

		    <li class="nav-item">
          <a class="nav-link " href="#team-section">Veterinary clinics</a>
        </li>
		  
		    <li class="nav-item">
          <a class="nav-link " href="#blog-section">Blog</a>
        </li>
		  
		 <li class="nav-item">
          <a class="nav-link " href="#booking-section">Feedbacks</a>
        </li> 
		  
		  
		  
		  
      </ul>
     
    </div>
  </div>
</nav>
	</div>
	</header>	
<!--End Header	-->
	
	
	


<!--	Start about Section-->
<section class="about-section"  id="about-section">
	<div class="container">
		<div class="row gx-5">
			
		   <div class="col-md-6">
				  <div class="about-media">
					<img src="static/images/images/team/3.jpg" alt="" >
			   </div>
			</div>
			
			<div class="col-md-6">
				 <div  class="about-info">
					 <h3>Welcome To Dr.Pet Hospital</h3>
					  <p></p>   

</p>
					 
					 <p style="font-size:20px;"> The Colombo Pet care center is one of the leading Vet hospitals in Sri Lanka.Your pet will be cared for, by highly experienced Veterinarians with supportive staff using state of the art modern facilities. <br><br>Dog caring is a very famous hobby as it is great fun and immensely rewarding. Many people like to adopt dogs. But most of them do not have enough knowledge about how to care for them.<br><br> Also, many people don’t enough about the breed of the dogs.

						As a result of that case, pet dogs have to face death. Dog caring is an essential part of life for dog owners. Nowadays a lot of people spend a busy lifestyle. The busy schedule of people avoids their pet dogs. As the impact of this matter, people do not have much knowledge about dog behaviour patterns, vitamins, veterinary clinics, and diseases.</p>
<br> <br> <br>
					 <p style="font-size:20px;"> </p>

				</div>
			</div>
			
			
			
			
            
			
		</div>
  </div>
</section>
<!--	End About Section-->



	
	
<!--Start Features Section	-->
	<section class="features-section">
	      <div class="container">
		     <div class="row gx-0">
			      
				 <div class="col-md-4">
				      <div class="features-box bg1">
					      <img src="static/images/petcare/images_1/calendar.png" alt="">
						  <h3>24/7 Services</h3>
						  <p>Now you can get veterinary clinic help in any time and any place via Colombo Pet care center.</p>
					 </div>
				 </div>
				 
				 
				  <div class="col-md-4">
				      <div class="features-box bg2">
					      <img src="static/images/petcare/images_1/staff.png" alt="">
						  <h3>Veterinary clinic<br></h3>
						  <p>There are more than 120 vet surgeons in Colombo Pet care center. You can channel them.<br></p>
					 </div>
				 </div>
				 
				   <div class="col-md-4">
				      <div class="features-box bg3">
					      <img src="static/images/petcare/images_1/happy.png" alt="">
						  <h3>Happy Clients<br> </h3>
						  <p>There are more than 1000+ clients are registered in Colombo Pet care <br> center.<br>  </p>
					 </div>
				 </div>
				 
				 
			  </div>
		</div>
	</section>
<!--End Features Section	-->
	
	

	
	
<!--Start services Section-->
	<section class="services-section" id="services-section">
	     <div class="container">
		     <div class="row">
			     
				 <div class="col-md-12">
				     <h2 class="section-title text-center">Advantages of Colombo Pet care center. </h2>

					 <h3>EVERYTHING YOUR PET NEED IN ONE PLACE</h3>
					 <p> Colombo Pet care center provide a wide variety of services including Vaccination, Consultation, Surgeries, Dental scaling, Microchipping and much more.<br><br> Well Experience Doctors will always care about your presses Furry Friends</p>
					 <br>
					 <h3>CLINICAL LABORATORY</h3>
					 <p>We are having a fully functional onsite clinical laboratory with modern diagnostic facilities with internal and external quality control systems to assure accurate test results.<br><br> Our laboratory is operated by experienced and qualified laboratory technicians under the guidance of veterinary doctors.</p>
					 <h3>MOBILE SERVICE</h3>
					 <p>The convenience of our ambulatory services is enjoyed by over 40,000 happy and satisfying sessions.<br><br> Our patients receive personal attentive care from annual vaccination to complicated medical conditions The mobile service is dedicated to providing the best possible care and service in the comfort and the familiarity of your pet’s own home, resulting in a stress-free experience for your pet.</p>
				 </div>
				 
				 
				 
		</div>
	</section>
<!--End services Section-->
	
	
	
<!--Start Team Section	-->
	
	<section class="team-section" id="team-section">
	     <div class="container">
		     <div class="row">
			      <div class="col-md-12">
				      <h2 class="section-title text-center">Veterinary clinics </h2>
				 </div>
				 
				
						      <img src="static/images/petcare/images_1/team/1.jpg" alt="" >
							  
						      
					
				 
				 
			 </div>
		</div>
	</section>
<!--End Team Section	-->
	
	<!--Start Booking Section-->

<section class="booking-section bg-overlay" id="booking-section">
	<div class="container">
	 <div class="row">
			
			<div class="col-md-6">
			   <div class="form-col">
					
				   <h3>Your Feedback</h3>
				</div>
				
				<div class="wrapper">
					<form action="" method="POST" class="form">
						<div class="row">
							<div class="input-group">
								<label for="name">Name</label>
								<input type="text" name="name" id="name" placeholder="Enter your Name" required>
							</div>
							<div class="input-group">
								<label for="email">Email</label>
								<input type="email" name="email" id="email" placeholder="Enter your Email" required>
							</div>
						</div>
						<div class="input-group textarea">
							<label for="comment">Comment</label>
							<textarea id="comment" name="comment" placeholder="Enter your Comment" required></textarea>
						</div>
						<div class="input-group">
							<button name="submit" id="btnSubmit" class="btn">Post Comment</button>
						</div>
					</form>
				</div>	
				
				
				
				
		 </div>
		 
		</div>
</div>
</section>	

<!--End Booking Section-->

	
<!--Start Blog 	-->
	<section class="blog-section" id="blog-section">
		
		<div class="container">
		     <div class="row">
			     <div  class="col-md-12">
				      <h2 class="section-title text-center">Blog & News</h2>
					 
				 </div>
				 
				 
				<div class="col-md-4">
				      <div class="blog-box">
					     <div class="blog-media">
						      <img src="static/images/petcare/images_1/blog1.jpg" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a href="#">Why PET CARE?</a></h3>
							  <ul class="meta">
							      <li> <i class="fa fa-calendar" aria-hidden="true"></i> 18 Oct 2021 </li>
							      <li> <i class="fa fa-user-o" aria-hidden="true"></i> Admin </li>
							  </ul>
							  <p>PET CARE is a animal caring system, that brings all veterinary clinics in Sri Lanka to the same platform and gives them 100% accurate medication.

								Dog caring is a very famous hobby as it is great fun and immensely rewarding. <br> <br> Many people like to adopt dogs. But most of them do not have enough knowledge about how to care for them. Also, many people don’t enough about the breed of the dogs.
								
								As a result of that case, pet dogs have to face death.<br> <br> Dog caring is an essential part of life for dog owners. Nowadays a lot of people spend a busy lifestyle. The busy schedule of people avoids their pet dogs.</p>
						  </div>
					</div>
				 </div> 
				 
				
				 <div class="col-md-4">
				      <div class="blog-box">
					     <div class="blog-media">
						      <img src="static/images/petcare/images_1/blog2.jpg" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a href="#">Pet Vaccinations </a></h3>
							  <ul class="meta">
							      <li> <i class="fa fa-calendar" aria-hidden="true"></i> 22 Oct 2021 </li>
							      <li> <i class="fa fa-user-o" aria-hidden="true"></i> Admin </li>
							  </ul>
							  <p> In other words, cats seemed to be in control of humans thousands of years ago, just as they are today. Vaccines for humans and animals work the same and rather simply.<br> <br> A vaccine allows the body to develop immunity to a disease by triggering the creation of antibodies. Vaccines consist of small dosages of a non-living or inactive disease. <br> <br> The inactive disease is voluntarily introduced to the body, so the immune system can attack the germs which are easily eliminated. <br> <br> As a result to the small exposure, your body maintains the antibodies to defend against involuntary future exposure.</p>
						  </div>
					</div>
				 </div> 
				 
				 
				 <div class="col-md-4">
				      <div class="blog-box">
					     <div class="blog-media">
						      <img src="static/images/petcare/images_1/blog3.jpg" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a href="#">Pet Foods </a></h3>
							  <ul class="meta">
							      <li> <i class="fa fa-calendar" aria-hidden="true"></i> 23 Oct 2021 </li>
							      <li> <i class="fa fa-user-o" aria-hidden="true"></i> Admin </li>
							  </ul>
							  <p>When it comes to finding online advice on what to feed your dog, you only want to take tips from the best dog food blog out there.<br> <br> As dog owners, it can be confusing to know what types of foods are acceptable for your dog to eat and which must be avoided at all costs.<br> <br> As with humans, the nutritional needs of each dog varies according to the individual animal. A number of factors come into play, including breed, size, age, weight, and more.<br> <br> It’s important to feed your dog properly to make sure they’re afforded the best possible quality of life.</p>
						  </div>
					</div>

					
				
				 </div> 
				 
				 
			</div>
		</div>
		
	</section>

	
<!--End Blog 	-->
	

	
	
<!--Start Footer	-->
<footer>
     <div class="container">
	     <div class="row">
			 
		     <div class="col-md-4">
			      <div class="footer-widget">
				      <h3>Contact Us</h3>
					  
					  <ul class="footer-address">
					      <li>
						    <i class="fa fa-map-marker" aria-hidden="true"></i>
							  <div>
							     <h4>Address</h4>
								  <p>
									Colombo Pet care center ,
									45 Sri Saranankara Rd, Dehiwala-Mount Lavinia,
									Sri Lanka<br></p>
							  </div>
						  </li>
						  
						  <li>
						    <i class="fa fa-phone" aria-hidden="true"></i>
							  <div>
							     <h4>Phone</h4>
								  <p> <a href="tel:+ 94 77 766 7136
									
									
									">+94 77 766 7136
									
									</a></p>
							  </div>
						  </li> 
						  
						   <li>
						   <i class="fa fa-envelope-o" aria-hidden="true"></i>
							  <div>
							     <h4>Email</h4>
								  <p> <a href="tel:+94 77 766 7136 ">colombopetcare@gmail.com
									</a></p>
							  </div>
						  </li> 
						  
						  
					  </ul>
				 </div>
			 </div> 
			 
			 
			 
			<div class="col-md-2">
			      <div class="footer-widget">
				      <h3>Services</h3>
					   <ul class="footer-menu">
						   <li> <a href="#"> Online booking </a> </li>
						   <li> <a href="#"> Consultations </a> </li>
						   <li> <a href="#"> Vet Laboratory </a> </li>
						   <li> <a href="#"> Mobile Veterinary</a> </li>
						
						  
					  </ul>
				 </div>
			 </div>  
			 
			 
			<div class="col-md-2">
			      <div class="footer-widget">
				      <h3>Services</h3>
					   <ul class="footer-menu">
						   <li> <a href="#"> Pet Training </a> </li>
						   <li> <a href="#"> Pet Sitting </a> </li>
						   <li> <a href="#"> Dog Grooming</a> </li>
						   <li> <a href="#"> Pet vaccinations </a> </li>
						   
					  </ul>
				 </div>
			 </div>   
			 
			 
				<div class="col-md-4">
			      <div class="footer-widget">
				      <h3>Newsletter</h3>
					   <form>
					           <input type="email" placeholder="Enter Email"  class="form-control mb-2">
						   
						   
						  
						  
						   <input type="submit" value="Subscribe"  class="btn btn-white"/></a>
					  </form>
				 </div>
			 </div>   
			 
			 
			 
			 
		 </div>
	</div>	
</footer>	
<!--End Footer	-->
	



<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="static/js/sweetalert2.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<!--Owl Carousel	-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" type="text/javascript" > </script>	

<script>
$('.reviews-slide').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
});
</script>

<script> 
$("a[href^='#']").click(function(e) {
	e.preventDefault();
	
	var position = $($(this).attr("href")).offset().top;

	$("body, html").animate({
		scrollTop: position
	} ); 
});

</script>
	
	
<script>

    $(function () {
      $('#btnSubmit').click(function () {

        var name = $('#name').val();
        var email = $('#email').val();
        var comment = $('#comment').val();

        if (name == "" || email == "" || comment == "") {
          swal.fire("Add comment", "Fields are empty!", "warning");

        } else {

          var form_data = new FormData();
          form_data.append('name', name);
          form_data.append('email', email);
          form_data.append('comment', comment);
          form_data.append('id', 3);

          $.ajax({
            url: "/add_comment",
            enctype: 'multipart/form-data',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            type: 'POST',
          })
            .done(function (data) {
              if (data.redirect) {
                window.location.href = data.redirect;
              }
              else if (data.success) {
                Swal.fire("Add Comment", data.success, "success");
              }
              else if (data.error) {
                Swal.fire("Add Comment", data.error, "warning");
              }
              else {
                Swal.fire("Add Comment", "Some error occur!", "warning");
              }
            });

        }

        event.preventDefault();
      });
    });

  </script>

	
</body>
</html>
